{% extends "base.html.twig" %}



{% block body %}
 <div class="container bottom-border">

     {% for value in arr %}
     <div class="tutorial dashed-border">
        <div class="tutorial-title"><h3>{{ value.title }}</h3></div>
         <div class="tutorial-content">
             <div class="tutorial-img"><img src="{{ asset("img/300X150.png") }}" alt="tutorial img"></div>
             <div class="tutorial-desciption">{{ value.description }}<br>
                 <a class="pull-right" href="/{{value.id }}/tutorial/0"><button class="button buy" style="vertical-align:middle">Kup</button></a>
                 <a class="pull-right" href="/{{value.id }}/tutorial/0"><button class="button read" style="vertical-align:middle"><span>Czytaj więcej</span></button></a>
             </div>
         </div>

     </div>
    {% endfor %}

</div>
{% endblock body %}