{% extends "base.html.twig" %}

{% block body %}
    <div class="container" style="height: 300px">
        <div>Little navigation</div>
        <div class="player">
            <iframe src="https://www.youtube.com/embed/010KyIQjkTk?ecver=2" style="position:absolute;width:450px;height:250px;left:0" width="450" height="250" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="list_videos">

    {% for value in videos %}
                <a href="/{{ tutorial[0].id }}/tutorial/{{ value.id }}"><p id="single_video">{{ value.title }}</p></a>
    {% endfor %}

        </div>

        <p class="button_buy"><a href="/buy/{{ tutorial[0].id }}"><button>Kup tutorial</button></a></p>
    </div>



    <br>
    <div class="container">
        {{ form(form) }}
            {% for value in comments %}
                <div class="single">
                    <h1>User</h1>
                    <div>
                        <p>{{ value.content }} </p>
                        {{ value.data|date('Y.m.d H:i:s') }}

                    </div>

                </div>
            {% endfor %}

    <div>

{% endblock body %}