{% extends "base.html.twig" %}

{% block body %}
    <div class="container bottom-border">
        <div class="player">
            <iframe src="https://www.youtube.com/embed/010KyIQjkTk?ecver=2"></iframe>
        </div>
        <div class="list_videos">

    {% for value in videos %}
                <a href="/{{ tutorial[0].id }}/tutorial/{{ value.id }}"><p id="single_video">{{ value.title }}</p></a>
    {% endfor %}

        </div>
        <div class="button_buy">
            <a href="/buy/{{ tutorial[0].id }}"><button class="button buy" style="vertical-align:middle">Kup</button></a>
        </div>

    </div>



    <br>
    <div class="container bottom-border">
        <div>{{ form(form) }}</div>
            {% for value in comments %}
                <div class="comment dashed-border">
                    <div class="comment-user">User</div>
                    <div class="comment-date">{{ value.data|date('Y.m.d') }}</div>
                    <div class="comment-content">
                            {{ value.content }}
                    </div>
                </div>
            {% endfor %}
    <div>

{% endblock body %}